
/********** Wide Screen Responsive ************/
@media (max-width: 1028px) {

	#header-logo, #header-button	 {
		width: auto !important;
	}

	nav ul {
		padding-left: 0 !important;
	}

	#header-button {
		padding-right: 0;
	}
}

/********** Desktop Screen Responsive ************/
@media (max-width: 974px) {

	#banner-section-slider {
		width: auto;
	}

	.slider-pagging {
		margin-top: 10px;
	}
}

/********** Tablet Screen Responsive ************/
@media (max-width: 764px) {

	#header-button {
		float: left !important;
	}

	#header-nav {
		max-width: 90%;
	}

	nav ul li:first-child {
		padding-left: 0;	
	}

	#banner-section-slider .slider-number {
		height: auto;
	}

	#banner-section-slider .slider-content .description {
		font-size: 12px;
	}

	.slider-pagging {
		margin-top: 30px;
	}

	.footer-section ul li {
		font-size: 9px;
	}

	.media {
		width: auto;
	}

	.bg-footer {
	    width: auto; 
	    position: unset; 
	}
}

/********** Medium Screen Responsive ************/
@media (min-width: 461px) and (max-width: 699px) {

	.header-section {
		float: none !important;
	}

	#header-nav, #header-nav ul {
		padding: 0;
		height: auto;
	}

	#banner-section-image {
		z-index: 1;
	}

	nav ul {
		padding-left: 5% !important;
	}

	#banner-section-slider {
		width: auto;
		padding: 0;
	}

	#banner-section-slider .slider-content .description {
		width: 100%;
		padding: 0 10px 0 10px;
	}

	.arrow-previous {
		left:  50%;
		top: 75%;
	}

	.arrow-next {
		right: 10%;
		top: 75%;
	}

	.slider-pagging {
		margin-top: 30px;
	}
}

/********** Smartphone Screen Responsive ************/
@media (max-width: 460px) {

	.header-section {
    	height: auto;
    }

	#header-logo img {
		width: auto;
		height: auto;
	}

	#header-nav, #header-button {
		display: none;
	}

	nav {
		display: none;
	}

	#menu-mobile {
		display: block;
	}

	#menu-mobile img {
		width: 70%;
	}

	#banner-container {
		height: 700px;
		overflow: hidden;
	}

	#banner-section-background #section-background-phone {
		display: none;
	}

	#banner-content-parent, #banner-section-background, #section-background-phone {
		position: unset;
		height: auto;
	}

	#banner-section-background #section-background-font {
		width: 460px;
	    max-width: 100%;
	    height: 555px;
	    position: absolute;
	    top: 8%;
	    background-color: unset;
	    font-size: 10px;
	    background-image: url(images/bg-phone@2x-m.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100% 100%;
	    padding: 16px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#banner-section-image {
		position: relative;
	    top: 129px;
	    left: 0;
	    height: 320px;
	}

	#banner-section-image-screen {
	    position: absolute;
	    width: 280px;
	    height: 257px;
	    max-width: 82%;
	    margin: 0 auto;
	    z-index: 1;
	    top: 64px;
	    left: 8.8%;
	}

	.slider-number, .slider-content {
		width: auto;
		height: auto !important;
	}

	#banner-section-slider {
		width: 100%;
	    position: relative;
	    max-width: 90%;
	    margin: 0 auto !important;
	    height: 160px;
	    top: 130px;
	}

	#banner-section-slider .slider-content .description {
		width: 100%;
		font-size: 13px;
		padding: 0 16px 0 16px;
	}

	#banner-section-slider .slider-number {
		line-height: 60px;
	}

	#banner-section-background #section-background-font hr {
		height: 3px;
	}

	.arrow-previous {
		left: 10%;
		top: 75%;
	}

	.arrow-next {
		right: 10%;
		top: 75%;
	}

	#footer-line {
		width: 100%;
	    height: 50px;
	    max-width: 1480px;
	    margin: 0 auto;
	    position: relative;
	    top: -40px;
	}

	footer{
		top: -30px;
	}

	.logo {
		margin-bottom: 40px !important;
		border: unset !important;
	}

	.media {
		width: 100%;
		margin: 0 auto !important;
		margin-bottom: 40px !important;
		margin-top: 20px !important;
		border: unset !important;
		/*float: none;*/
		text-align: center;
	}

	.media ul {
		width: 120px;
	    margin: 0 auto;
	    padding-left: 18px;
        -webkit-box-sizing: content-box;
	    -moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	.footer-section ul li {
		font-size: 11px;
		width: 100%;
	}

	.bold {
		padding: 8px 0 8px 0;
	}

	.features-2 {
		border: unset !important;
	}

	.go-life {
		padding: 0 0 10px 0;
		border-bottom: 1px solid #9b9b9b;
	}

	.go-pay {
		margin: 0;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #9b9b9b;
	}

	.arrow-down {
		display: block;
	}

	.footer-section {
		width: 100%;
		/*float: none;*/
		margin: 0;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #9b9b9b;
	}

	.collapse ul li:nth-child(n+2) {
		display: none;
	}

	.media p {
	    font-size: 15px;
	}

	#footer-content {
		height: 580px;
	}

	.bg-footer {
		width: 100%;
		height: 180px;
		background-size: cover;
		background-image: url(images/footer-bg-green.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100% 100%;
	    margin-top: 30px;
	    position: relative;
	    overflow: hidden;
	}

	.bg-footer-word {
		
	    max-width: 90%;
	    margin: 0 auto;
	    height: 60px;
	    /* right: 15%; */
	     bottom: 40px; 
	}
}

/********** Iphone 4>5 Screen Responsive **********/

@media (max-width: 320px) {

	#header-logo {
		margin: 10px 0 12px 21px;
		padding: 0;
	}

	#header-logo img {
		width: 109px;
		height: 32px;
	}

	.bg-footer-word {
		right: 20px;
	}
}

