@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#container {
    height: auto;
    max-height: 800px;
    display: block; 
    float: left; 
    width: 100%;
}

header {
	width: 100%;
	max-width: 1480px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

#header-container {
	width: 1260px;
	max-width: 95%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.float-left { width: 20%; }
.float-right { width: 300px; }
.float-center { width: calc(100% - 20% - 25%); }
.float-left, .float-center { float: left; display: inline-block; height: 100px; }
.float-right { float: right; display: inline-block; height: 100px;  }
.img-left { text-align: left; }
.img-center { text-align: center; }
.img-right { text-align: right; }
.marginleft-none { margin-left: 0 !important; }


/********** Header Section Style ************/

.header-section {
	height: 70px;
	padding: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header-logo img {
	max-width: 100%;
}

#header-nav {
	width: 420px;
	max-width: 54%;
}

#header-button {
	width: 320px;
	max-width: 90%;
	padding-right: 10%;
}

.header-section nav ul {
	list-style: none;
	padding: 1% 0 0 5%;
}

.header-section nav ul li {
	width: auto;
	height: 22px;
	display:inline;
	padding: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #485460;
	margin: 0 auto;
	cursor: pointer;
}

#menu-mobile {
	display: none;
	text-align: right;
	float: right;
}

.button-signup {
	max-width: 150px;
	height: 30px;
	max-height: 30px;
	float: right;
	cursor: pointer;
	margin: 1% 8px 0 0;
}

.button-signup .button-signup-green {
	max-width: 30px;
	height: 30px;
	float: left;
	padding: 0 18px 0 18px;
	border-radius: 4px 0 0 4px;
	background-color: #48af4a;
	background-image: url('images/icon-profile.png');
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.button-signup .button-signup-white {
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 13px;
	color: #48af4a;
	border-radius: 0 4px 4px 0;
	background-color: #ffffff;
	border: solid 1px #48af4a;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.button-download {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #ffcd2e;
	background-image: url('images/icon-download.png');
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	overflow: hidden;
	cursor: pointer;
	margin: 1% 0 0 0;
}

/********** End Header Section Style ************/

/********** Banner Section Style ************/

#banner-container {
	width: 100%;
	height: 520PX;
	max-width: 1480px;
	background-color: #f8f8f8;
	position: relative;
	margin: 0 auto;
	z-index: 0;
}

#banner-content-parent {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 920px;
	height: 340px;
	border-radius: 3px;
}

#banner-section-background {
	width: 820px;
	max-width: 100%;
	height: 320px;
	position: absolute;
	bottom: 0;
}

#banner-section-background #section-background-phone {
	width: 60%;
	height: 320px;
	background-image: url('images/bg-phone.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#banner-section-background #section-background-font {
	width: 40%;
	height: 320px;
	background-color: #fff;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	color: #b62025;
	padding: 30px 0 16px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#banner-section-background #section-background-font hr {
	width: 46px;
	height: 3px;
	background-color: #b62025;
	border: 1px solid #b62025;
	margin: 0 auto;
	margin-top: 16px;
}

#banner-section-image {
	position: absolute;
	width: 320px;
	max-width: 82%;
	margin: 0 auto;
	height: 380px;
	z-index: 1;
	bottom: 0;
	left: 8.8%;
}

#banner-section-image img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}

#banner-section-image-screen {
	position: absolute;
	width: 280px;
	max-width: 82%;
	margin: 0 auto;
	z-index: 1;
	bottom: 0;
	left: 8.8%;
}

#banner-section-image-screen img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}

#banner-section-slider {
	position: absolute;
	width: 100%;
	max-width: 512px;
	height: 220px;
	background-color: #b62025;
	z-index: 1;
	overflow: hidden;
	padding: 0 54px 0 54px;
	bottom: 0;
	margin-left: 43.5%;
}

#banner-section-slider .slider-number {
	width: 100%;
	height: 90px;
	line-height: 80px;
	text-align: center;
	font-size: 32px;
	color: white;
	overflow: hidden;
}

#banner-section-slider .slider-content {
	width: 100%;
	height: 80px;
	text-align: center;
	font-size: 14px;
	color: white;
	letter-spacing: 1.8px;
}

.arrow-next, .arrow-previous {
	border: 1px solid white;
	border-radius: 100%;
    width: 24px;
  	height: 24px;
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	color: white;
	z-index: 999;
	text-align: center;
}

.arrow-previous {
	left: 50%;
	top: 65%;
}

.arrow-next {
	right: 8%;
	top: 65%;
}

#banner-section-slider .slider-content .description {
	width: 50%;
	margin: auto;
}

.slider-pagging {
	width: 100%;
	height: 20px;
	margin: 0 auto;
}

.slider-pagging ul {
	color: white;
	list-style:none;
    position:relative;
    left:45%;
}

.slider-pagging ul li {
	width: 8px;
	height: 8px;
	float: left;
	margin-right: 4px;
	list-style-position:inside;
    border: 1px solid white;
    border-radius: 100%;
}

.page-active {
	background-color: white;
}

/********** End Header Section Style ************/

/********** Footer Section Style ****************/

#footer-line {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 75px;
	overflow: hidden;
	background-image: url('images/bg-footer-white.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-top: -2%;
	max-width: 1480px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer {
	width: 100%;
	height: 100%;
	max-width: 1480px;
	margin: 0 auto;
	position: relative;
}

#footer-content {
	width: 1280px;
	max-width: 80%;
	margin: 0 auto;
	height: 280px;
}

.footer-section {
	width: auto;
	height: auto;
	float: left;
	margin: 0 0 20px 40px;
}

.logo {
	width: 10%;
	text-align: center;
}

.about, .other {
	width: 15%;
}

.features, .features-2 {
	width: 12%;
}

.go-life {
	width: auto;
}

.go-pay {
	width: auto;
	margin-top: 25px;
}

.media {
	width: auto;
	height: auto;
	float: left;
	margin: 0 0 20px 40px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-section ul {
	list-style: none;
	margin-left: 20px;
}

.media ul {
	list-style: none;
	margin-left: 20px;
}

.footer-section ul li {
	font-size: 10px;
	width: 115px;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: left;
	color: #485460;
	text-transform: uppercase;
}

.media ul li {
	font-size: 20px;
	width: 30px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	text-align: left;
	color: #485460;
	float: left;
}

.media p {
	font-size: 14px;
	overflow: hidden;
	padding-left: 5%;
}

.bold {
	font-weight: bolder;
}

.collapse-icon {
	display: none;
	float: right;
	margin-right: 5px;
	font-size: 12px;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

.copyright {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}

.bg-footer {
	width: 600px;
	max-width: 1280px;
	height: 160px;
	position: absolute;
	right: 0;
	bottom: -30%;
	background-image: url('images/bg-footer-green.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
	vertical-align: bottom;
	z-index: -1;
}

.bg-footer-word {
	width: 400px;
	max-width: 1280px;
	height: 65px;
	position: absolute;
	right: 3%;
	bottom: 5%;
	background-image: url('images/hidup-tanpa-batas.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
	vertical-align: bottom;
}


/********** End Header Section Style ************/